*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  /* background-image: url('/public/images/bg.png'); */
  background-color: black;
}

.whole_div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  /* background-color:white; */
  padding: 0px;
}

.logo > img{
  width: 100px;
  
}
.nav > ul{
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  

}

.nav >ul >li{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.nav > ul > li:hover{
  color: #E94B3CFF;
}

.intro{
  color: white;
}

.intro > h2,p{
  /* margin: 10px; */
  line-height: 30px;
}
